
/* .divalert_cont{
    border-radius: 5px;
    padding: 5px;
    background: green;
    color: white;
    text-align: center;
}
.error{
    background: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.trash_btn{
    background: rgb(255, 36, 36);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
} */